

body{

    font-family: "Poppins", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    background: url(./Components/assets/newtech.jpg);
    background-size: cover;
    background-position: center;
    
    

}

